[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/roeywine
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/roeywine
	label-Verified = -1..+1 group user/roeywine
	push = group user/roeywine
	read = group user/roeywine
	rebase = group user/roeywine
	removeReviewer = group user/roeywine
	submit = group user/roeywine
[access "refs/heads/*"]
	create = group user/roeywine
	push = +force group user/roeywine
	pushMerge = group user/roeywine
	read = group user/roeywine
[access "refs/tags/*"]
	push = group user/roeywine
	push = +force group user/roeywine
